html,
body {
  height: 100%;
}

#box {
  width: 7.5rem;
  height: 100%;
  box-sizing: border-box;
  /*null title*/
  /*header*/
  /*header End*/
  /*detail End*/
}

#box .null {
  width: 100%;
  height: 0.38rem;
  background: #fdfffc;
}

#box header {
  background: #fdfffc;
  width: 100%;
  height: 0.9rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

#box header .back {
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  width: 0.14rem;
  height: 0.26rem;
  background-image: url(../img/Spirit.png);
  background-repeat: no-repeat;
  background-size: 1.2rem 5rem;
  background-position: -1.05rem -4.74rem;
  position: absolute;
  left: 0.22rem;
  top: 0.3rem;
}

#box header span {
  font-size: 0.36rem;
  color: #5da525;
  position: absolute;
  left: 2.97rem;
  top: 0.2rem;
}

#box header .car-w {
  width: 0.5rem;
  height: 0.36rem;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-image: url(../img/Spirit.png);
  background-repeat: no-repeat;
  background-size: 1.2rem 5rem;
  background-position: 0 -3.35rem;
  position: absolute;
  right: 0.21rem;
  top: 0.29rem;
}

#box #detail {
  width: 100%;
  height: 100%;
  background: #eee;
  /*presen End*/
  /*menu End*/
  /*list End*/
}

#box #detail .presen {
  width: 100%;
  height: 4.22rem;
  border-top: 0.01rem solid #bec0bd;
  border-bottom: 0.02rem solid #c7c5c6;
  box-sizing: border-box;
  margin-bottom: 0.19rem;
}

#box #detail .presen img {
  width: 100%;
  height: 2.6rem;
}

#box #detail .presen p {
  width: 100%;
  height: 1.6rem;
  font-size: 0.18rem;
  color: #6e6a69;
  padding: 0.26rem 0.31rem 0.38rem 0.21rem;
  box-sizing: border-box;
  background: #fefaf9;
}

#box #detail .menu {
  height: 2.92rem;
  border-bottom: 0.02rem solid #c7c5c6;
  margin-bottom: 0.16rem;
  box-sizing: border-box;
  padding: 0 0.2rem 0.25rem;
  background: #fdfffc;
}

#box #detail .menu h3 {
  height: 0.8rem;
  line-height: 0.8rem;
}

#box #detail .menu h3 p {
  font-size: 0.28rem;
  font-weight: bold;
  color: #61a52a;
}

#box #detail .menu h3 a {
  width: 1.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.24rem;
  font-weight: 100;
  background: #f6a04b;
  color: #fafafc;
  border-radius: 0.05rem;
  margin-top: 0.16rem;
}

#box #detail .menu #tab {
  height: 2.1rem;
  box-sizing: border-box;
  font-size: 0.26rem;
  padding: 0.07rem 0.08rem 0.4rem 0.1rem;
}

#box #detail .menu #tab li {
  width: 1.22rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  border: 0.01rem solid #60a42b;
  box-sizing: border-box;
  border-radius: 0.1rem;
  margin: 0.31rem 0.68rem 0 0;
}

#box #detail .menu #tab li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #62a22a;
}

#box #detail .menu #tab .last {
  margin-right: 0;
}

#box #detail .menu #tab .active {
  background: #60a42b;
}

#box #detail .menu #tab .active a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}

#box #detail #list {
  width: 100%;
  height: 14.16rem;
  background: #fdfffc;
}

#box #detail #list section {
  width: 100%:
				height:4.5rem;
  padding-top: 0.1rem;
}

#box #detail #list section h4 {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  box-sizing: border-box;
  border-top: 0.01rem solid #f9f9f9;
  border-bottom: 0.01rem solid #f9f9f9;
  background: #f6fdca;
  font-size: 0.24rem;
  color: #629e2d;
  font-weight: bold;
}

#box #detail #list section ul {
  height: 3.9rem;
  padding: 0.22rem 0.2rem 0.12rem 0.2rem;
  box-sizing: border-box;
}

#box #detail #list section ul li {
  box-sizing: border-box;
  width: 3.5rem;
  height: 3.56rem;
  border: 0.01rem solid #e4e6e3;
}

#box #detail #list section ul li a {
  width: 100%;
  height: 100%;
  display: block;
}

#box #detail #list section ul li a img {
  width: 3.49rem;
  height: 1.9rem;
}

#box #detail #list section ul li a h6 {
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.26rem;
  color: #333331;
  padding-left: 0.18rem;
  box-sizing: border-box;
}

#box #detail #list section ul li a h6 span {
  font-size: 0.22rem;
  color: #30322f;
  font-weight: 100;
  margin-left: 0.18rem;
}

#box #detail #list section ul li a p {
  height: 0.48rem;
  font-size: 0.18rem;
  color: #30322f;
  font-weight: 100;
  padding: 0 0.3rem 0 0.18rem;
}

#box #detail #list section ul li a div {
  height: 0.58rem;
  padding: 0 0.3rem 0 0.18rem;
}

#box #detail #list section ul li a div .price {
  height: 100%;
  line-height: 0.58rem;
  color: #f2871d;
  font-size: 0.26rem;
  font-weight: bold;
}

#box #detail #list section ul li a div .btn {
  width: 1.4rem;
  height: 0.42rem;
  line-height: 0.42rem;
  text-align: center;
  background: #60a42b;
  border-radius: 0.05rem;
  color: #fff;
  font-size: 0.22rem;
  margin-top: 0.08rem;
}

#box #detail #list section ul .marginL {
  margin-right: 0.1rem;
}