html,
body {
  height: 100%;
}

#box {
  width: 7.5rem;
  height: 100%;
  box-sizing: border-box;
  background: #fdfffc;
  /*null title*/
  /*header*/
  /*header End*/
  /*footer End*/
}

#box .null {
  width: 100%;
  height: 0.38rem;
  background: #fdfffc;
}

#box header {
  background: #fdfffc;
  width: 100%;
  height: 0.9rem;
  box-sizing: border-box;
  position: relative;
  border-bottom: 0.02rem solid #bec0bd;
}

#box header .back {
  width: 0.16rem;
  height: 0.32rem;
  background-image: url(../img/Spirit.png);
  background-repeat: no-repeat;
  background-size: 1.2rem 5rem;
  background-position: -1.03rem -4.18rem;
  color: rgba(0, 0, 0, 0);
  font-size: 0;
  position: absolute;
  left: 0.22rem;
  top: 0.29rem;
}

#box header span {
  font-size: 0.36rem;
  color: #5da525;
  position: absolute;
  left: 2.97rem;
  top: 0.2rem;
}

#box #main {
  background: #eee;
  padding-top: 0.18rem;
  height: 11.08rem;
  box-sizing: border-box;
}

#box #main ul li {
  height: 2.4rem;
  border-top: 0.01rem solid #e7e7e7;
  border-bottom: 0.01rem solid #c7c7c7;
  background: #fdfffc;
  padding: 0 0.2rem;
  margin-bottom: 0.18rem;
  position: relative;
}

#box #main ul li img {
  width: 2.2rem;
  height: 1.66rem;
  border: 0.01rem solid #e4e6e3;
  padding: 0.05rem;
  position: absolute;
  left: 0.7rem;
  top: 0.26rem;
}

#box #main ul li h3 {
  font-size: 0.28rem;
  color: #323232;
  position: absolute;
  left: 3.18rem;
  top: 0.3rem;
}

#box #main ul li b {
  font-size: 0.18rem;
  color: #5ca62d;
  position: absolute;
  right: 0.2rem;
  top: 0.34rem;
}

#box #main ul li b span {
  font-size: 0.22rem;
}

#box #main ul li .details {
  font-size: 0.22rem;
  top: 0.7rem;
  color: #666865;
  position: absolute;
  left: 3.18rem;
}

#box #main ul li .farm {
  font-size: 0.2rem;
  top: 1.12rem;
  color: #666865;
  position: absolute;
  left: 3.18rem;
}

#box #main ul li .count {
  height: 0.79rem;
  line-height: 0.79rem;
  font-size: 0.26rem;
  color: #323232;
  position: absolute;
  right: 0.2rem;
  bottom: 0.26rem;
}

#box #main ul li .count input {
  width: 0.8rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  background: #e5e5e5;
  font-size: 0.19rem;
  color: #666;
  margin: 0.17rem 0.23rem;
}

#box #main ul li .count .last {
  margin-right: 0;
}

#box footer {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.2rem;
  font-size: 0.28rem;
  color: #626262;
}

#box footer input {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.33rem 0.1rem 0 0;
}

#box footer span {
  font-size: 0.18rem;
  color: #646464;
  margin-right: 0.68rem;
}

#box footer p span {
  font-size: 0.18rem;
  color: #f49000;
}

#box footer p span b {
  font-size: 0.26rem;
  font-weight: bold;
}

#box footer #btn {
  width: 2.85rem;
  height: 0.8rem;
  background: #60a42b;
  color: #fff5f6;
  font-size: 0.34rem;
  font-weight: bold;
  margin: 0;
}